<body class="">
     <div class="container py-5">
          <div class="row">
              
               <div class="col-md-10">
                    <h3>Yetkiniz Yok!</h3>
                    <p>Üzgünüz, bu verileri görüntülemek için yetkiniz bulunmamaktadır.<br/>Önceki sayfaya geçmek için tıklayın.</p>
                    <a class="btn btn-danger" href="javascript:history.back()">Geri Git</a>
               </div>
          </div>
     </div>
</body>