<body class="">
     <div class="container py-5">
          <div class="row">
              
               <div class="col-md-10">
                    <h3>İsteğiniz Alındı!</h3>
                    <p>Yazdığınız mail için bir hesap bulunuyorsa<br/>en kısa sürede mail alacaksınız.</p>
                    <a class="btn btn-danger" asp-action="Login" asp-controller="Account">Geri Git</a>
               </div>
          </div>
     </div>


</body>