<body class="">
     <div class="container">
          <div class="row">
              
               <div class="col-md-10">
                    <h3>Şifreniz Sıfırlandı!</h3>
                  
                    <a class="btn btn-danger" asp-action="Login" asp-controller="Account">Giriş Ekranına Dön</a>
               </div>
          </div>
     </div>


</body>